.film-container {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.film-content {
  display: flex;
  flex-direction: column;
}
.films {
  display: flex;
  margin-top: 30px !important;
  justify-content: center;
}
.spinner {
  margin-left: auto !important;
  margin-right: auto !important;
}
.error {
  margin-left: auto !important;
  margin-right: auto !important;
}
.ant-alert-error {
  width: 250px !important;
}
.warning {
}
.ant-alert-warning .ant-warning {
  width: 300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.ant-pagination {
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 20px !important;
}
.ant-pagination-item {
  border: none !important;
}
.ant-pagination-item:hover {
  background-color: #1890ff;
  border-radius: 4px;
  color: #ffffff !important;
}
.ant-pagination-prev {
  border: none !important;
}
.ant-pagination-next {
  border: none !important;
}
.ant-pagination::after {
  /* display: none; */
}
