.container {
}
.error {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: auto !important; */
  /* margin-right: auto !important; */
}
.ant-alert-error {
  width: 250px !important;
}
@media (max-width: 420px) {
  .container {
    /* margin-left: 2em; */
  }
}
